Source: qt5-im-him
Section: x11
Priority: extra
Maintainer: Sander <code@kroket.io>
Build-Depends: debhelper (>= 10),
    qtbase5-dev,
    cmake,
    libx11-dev,
    libqt5x11extras5-dev,
    libgtk2.0-dev,
    hildon-input-method-framework-dev
Homepage: https://github.com/maemo-leste/qt5-im-him
XSBC-Bugtracker: https://github.com/maemo-leste/qt5-im-him/issues
Vcs-Git: https://github.com/maemo-leste/qt5-im-him/
Vcs-Browser: https://github.com/maemo-leste/qt5-im-him/


Package: qt5-im-him
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libgtk2.0,
    hildon-input-method
Description: Maemo Qt5 Keyboard Plug-in
